<!DOCTYPE html>
<html lang="es">
<head>
	<style>
		body {
			background: white url() no-repeat;
			background-size: cover;
		}
		.div {
			margin-top: 70px;
			padding: 20px;
			background-color: rgba(0, 0, 0, 0.3);
			border: 1px solid black;
			border-radius: 5px; 
			color: black;
			font-weight: bold;
		}
		.ejercicios .ejercicio {
			margin: 10px 0;
		}
	    
	  
    </style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-wiedth, initial-scale=1">

	<title>SCMT</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/form-checker.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		
		<div class="container-fluid">
			
		<div class="navbar-header">
			
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation </span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SCMT</a>
			</div>
			<!--Contenido de la navbar-->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<li class="active"><a href="singup.html">Home <span class="sr-only">(current)</span></a></li>
	       
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="explicacion.html">null</a></li>
	            <li><a href="index.html">null</a></li>
	          </ul>
	        </li>
	      		</ul>
	      </div>

					     
	        
	        
	     
	    </div>
	    </div>
	</nav>

	<!--div-->
	<div class="container div">
	    <form id="ejercicios">

		    <div class="div">

		    </div>
		</form>
	</div>
</body>
</html>
