{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.get_full_name() }} <small>{{ user.username }}</small>!</h2>



  <p>Sos un: {{ user.profile_type() }}</p>
  <p>Algunos datos relevantes son:</p>
  {% if user.is_empresa() %}
    <p>CUIT: {{ user.profile().cuit }}</p>
  {% endif %}

  {% if user.is_desocupado() %}
    <p>DNI: {{ user.profile().dni }}</p>

  {% endif %}

  <a class="btn btn-default" href="{{url ('user_edit', 1 ) }}"><span class="glyphicon glyphicon-pencil"></span>Modificar informacion personal</a>

  <button type="button" class="btn btn-primary" data-toggle="button" href="{{url ('user_delete') }}" aria-pressed="false" autocomplete="off" >
  Eliminar Cuenta
</button>

{% endblock %}
