{% extends 'base.html' %}
    {% block content %}
        {% for oferta in ofertas %}
                    <div class="container_12">
                        <div class="block2">
                            <div class="card border-warning mb-3" style="width: 25rem;">
                                <div class="card-body">
                                    <h4 class="card-title"> Cargo: {{ oferta.cargo }} </h4>
                                     <ul class="list-group list-group-flush">
                                        <li class="list-group-item" class="card-text">Descripcion del trabajo: {{ oferta.descripcion_del_trabajo }}</li>
                                        <li class="list-group-item" class="card-text">Carga horaria: {{ oferta.carga_horaria }}</li>
                                        <li class="list-group-item" class="card-text">Profesion:{{ oferta.profesion}}</li>
                                    </ul>
                                        <a class="btn btn-primary" href=""> Modificar <span class="glyphicon glyphicon-pencil"></span></a>
                                        <a  class="btn btn-primary" href="{{url ('oferta_delete') }}"> Eliminar <span class="glyphicon glyphicon-trash"></span></a>
                                
                            
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
        {% endfor %}
{% endblock content %}
